/* Loading */
@keyframes loading-appear {
    50% {
    opacity: 0.95;
    }
    99% {
    z-index: 2;
    }
    100% {
    opacity: 0;
    z-index: -2;
    }
}

@keyframes rotate-gradient {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Heart fill */
@keyframes heart-fill {
    0% {
        opacity: (0);
        transform: scale(0.2)
    }

    15% {
        opacity: (.25);
    }

    80% {
        opacity: (1);
        transform: scale(1);
    }

    100% {
        opacity: (1);
        transform: scale(1);
    }
}
  /* Décalage progressif */
@keyframes appear {
0% {
    opacity: 0;
    transform: translateY(-20px);
    }
100% {
    opacity: 1;
    transform: translateY(0);
    }
}

/* Décalage */
.race-list:nth-child(1) .race-cards {
animation: appear 1.5s ease forwards;
animation-delay: 0s;
opacity: 0;
}


.race-list:nth-child(2) .race-cards {
animation: appear 1.5s ease forwards;
animation-delay: 1.5s;
opacity: 0;
}


.race-list:nth-child(3) .race-cards {
animation: appear 1.5s ease forwards;
animation-delay: 3s;
opacity: 0;
}
